.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: sans-serif;
}

.app-header {
  text-align: center;
  margin-bottom: 40px;
  color: var(--color-text-dark);
}

.country-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

.error-message {
  color: red;
  text-align: center;
  font-size: 1.2em;
  margin-top: 50px;
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .filters-container {
    justify-content: space-between;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: nowrap;
    align-items: center;
  }
}